@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

.kopubbatang * {
 font-family: 'KoPub Batang', serif;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* style guide */ 
.main-color{
    color: #E5E5E3;
}

.sub-color{
    color: #EDA9BC;
}

.point-color{
    color: #EB5F85;
}

.f1-color{
    color: #64686B;
}

.f2-color{
    color: #727272;
}

.f3-color{
    color: #525252;
}

.point-font{
    color: #fff;
}

.font-h1{
    font-size: 82px;
}

.font-h2{
    font-size: 32px;
}

.font-h3{
    font-size: 24px;
}

.font-body{
    font-size: 18px;
}