@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

.kopubbatang * {
 font-family: 'KoPub Batang', serif;
}

/* light */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

/* regular */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

/* medium */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

/* bold */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body,p{
    font-size: 16px;
}

/* style guide */ 
.main-color{
    color: #E5E5E3;
}

.sub-color{
    color: #EDA9BC;
}

.point-color{
    color: #EB5F85;
}

.f1-color{
    color: #64686B;
}

.f2-color{
    color: #727272;
}

.f3-color{
    color: #525252;
}

.point-font{
    color: #fff;
}

/* 82px */
.font-h1{
    font-size: 5.125rem;
}

/* 32px */
.font-h2{
    font-size: 2rem;
}

/* 24px */
.font-h3{
    font-size: 1.5rem;
}

/* 18px */
.font-body{
    font-size: 1.125rem;
}

@media(max-width:1024px){
    .font-h1{
        font-size: 3.5rem;
    }

    .font-h2{
        font-size: 1.5rem;
    }

    .font-h3{
        font-size: 1.25rem;
    }

    .font-body{
        font-size: 1rem;
    }
}

@media(max-width:768px){
    .font-h1{
        font-size: 2.5rem;
    }

    .font-h2{
        font-size: 1.5rem;
    }

    .font-h3{
        font-size: 1.125rem;
    }

    .font-body{
        font-size: 1rem;
    }
}

@media(max-width:540px){
    .font-h1{
        font-size: 2rem;
    }

    .font-h2{
        font-size: 1.25rem;
    }

    .font-h3{
        font-size: 1rem;
    }

    .font-body{
        font-size: 1rem;
    }
}