/* reset.css */

/* 모든 요소 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body */
html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1;
}

/* 리스트 */
ul, ol {
  list-style: none;
}

/* 링크 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지 */
img {
  max-width: 100%;
  display: block;
}

/* 버튼 */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* input */
input, textarea, select {
  font: inherit;
  border: none;
  outline: none;
}

/* 테이블 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 강조 */
strong {
  font-weight: normal;
}