@import url('common.css');


/* header */
.header_wrap{
    background-color: #E5E5E3;
    padding: 40px 0;
}
.nav{
    width: 1244px;
    display: flex;
    margin: auto;
    justify-content: left;
}
.navi{
    display: flex;
    gap: 40px;
}
.navi a{
    font-size: 24px;
    font-family: 'KoPub Batang'
} 

/* kv section */
.kv{
    background-color: #E5E5E3;
}

.kv__section{
    position: relative;
    max-width: 1244px;
    height: 827px;
    margin: 0 auto;
}

.kv-wrap{
    position: absolute;
    left: 0;
    bottom: 128.5px;
    display: flex;
    align-items: flex-end;
    gap: 103.5px;
}

/* kv title 1 */
.kv-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.kv-tit{
    font-family: 'KoPub Batang', serif;
}

.kv-tit h1{
    margin-bottom: 26px;
}

/* kb line */
.kv-line{
    width: 1px;
    height: 98px;
    background-color: rgba(0,0,0,0.4);
    margin: 50px 0;
}


/* kv title 2 */
.kv-su-tit{
    font-family: 'KoPub Batang', serif;
}

/* kv image */
.kv-img{
    width: 596.5px;
    height: 685.39px;
    flex-shrink: 0;
}

.kv-mod{
    display: block;
    max-width: 100%;
    height: auto;
}

/* about section */
.about{
    position: relative;
    background-color: #fff;
}

.ab__section{
    position: relative;
    display: flex;
    max-width: 1244px;
    height: 851px;
    margin: 0 auto;
}

/* about title */
.ab-title{
    font-family: 'KoPub Batang', serif;
    font-size: 140px;
    color: #000;
    opacity: 0.05;
    position: absolute;
    left: -430px;
    top: 151.5px;
    z-index: 0;
}

/* about image */
.ab-img{
    position: absolute;
    top: 130px;
    right: 0;
    width: 817px;
    height: 446px;
    z-index: 1;
}

.ab-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* about text */
.ab-text{
    position: absolute;
    top: 643px; 
    right: 0;
    z-index: 1;
}

.ab-text h2{
    font-family: 'KoPub Batang', serif;
    font-weight: 100;
    margin-bottom: 14px;
}

.ab-text h3{
    font-family: 'Pretendard';
    font-weight: 100;
}

/* about icon */
.icon{
    display: flex;
    flex-direction: column;
    gap: 12.33px ;
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 10;
}

.icon button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

/* program section */
.program{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 95, 133, 0.6);
}

.pr__section{
    max-width: 1244px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pr-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* program title */
.pr-title{
    font-family: 'KoPub Batang', serif;
    text-align: center;
    margin-top: 130px;
}

.pr-title h1{
    margin-bottom: 20px;
}

.pr-title h2{
    margin-bottom: 46.17px;
}

.ticket-area{
    width: 100%;
    max-width: 897px;
}

.pr-tit{
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-family: 'Pretendard';
    font-weight: 300;
}

/* program ticket */
.ticket-premium{
    position: relative;
    width: 100%;
    max-width: 897px;
    margin: 0 auto;
    gap: 16px;
}

.ticket-basic{
    position: relative;
    width: 100%;
    max-width: 897px;
    margin: 0 auto;

}

.ticket-content{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    padding: 40px 30px 40px 100px;
    box-sizing: border-box;
    z-index: 2;
}

.tic-medal{
    position: absolute;
    top: -11%;
    right: 5%;
    width: 100px;
    z-index: 4;
}

.ticket-bg{
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
}

.ticket-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.tic-line{
    top: 50%;
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    margin: 0 35px 0 20px;
    z-index: 3;
}

.ticket-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.ticket-left h2{
    font-family: 'Pretendard';
    font-weight: 700;
}

.ticket-left ul{
    font-family: 'Pretendard';
    font-weight: 400;
}

.left-ff{
    font-family: 'Pretendard';
    font-weight: 500;
}

.bf-num{
    font-size: 50px;
    color: #8C949A;
    text-decoration: line-through;
}

.bf-text{
    font-size: 20px;
    color: #8C949A;
}

.af-num{
    font-size: 70px;
}

.af-text{
    font-size: 40px;
}

.btn{
    border-radius: 100px;
    padding: 0 20px;
    background-color: #EB5F85;
    display: flex;
    width: 200px;
    height: 68px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.arrow{
    width: 12px;
    height: 22px;
    margin-left: 20px;
}